<div class="min-h-screen bg-slate-100 p-4">
  
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Customers</h1>

    <div class="flex items-center gap-3">
      <input
        type="text"
        placeholder="Search…"
        class="px-4 py-2 bg-white rounded-xl shadow border border-slate-200 w-64"
      />

      <button class="px-4 py-2 bg-black text-white rounded-xl shadow">
        + Add Customer
      </button>
    </div>
  </div>

  <div class="bg-white shadow-lg rounded-2xl p-6 overflow-visible">

    <table class="w-full border-collapse">
      <thead>
        <tr class="text-left text-sm text-slate-500 border-b">
          <th class="py-3">Full Name</th>
          <th class="py-3">Email</th>
          <th class="py-3">Phone</th>
          <th class="py-3">Salary</th>
          <th class="py-3">Action</th>
        </tr>
      </thead>

      <tbody class="text-sm text-slate-700">
          <tr *ngFor="let c of customers" 
          class="border-b hover:bg-slate-50 transition cursor-pointer">

          <td class="py-4 font-semibold">
            {{ c.personResponse.fullname }}
          </td>

          <td class="py-4 wrap-break-word">
            {{ c.personResponse.email }}
          </td>

          <td class="py-4">
            {{ c.personResponse.phone }}
          </td>

          <td class="py-4">
            {{ c.personResponse.salary | number }} đ
          </td>
    
          <!-- Action --> 
          <td class="py-4 relative">

            <button
              (click)="toggleMenu(c, $event)"
              class="px-3 py-1 rounded-lg bg-slate-100 hover:bg-slate-200 transition">
              ...
            </button>

            <div
              *ngIf="openMenu === c"
              class="absolute right-0 mt-2 w-36 bg-white border border-slate-200 rounded-xl shadow-lg py-2 z-20 dropdown-open">

              <button
                class="flex items-center gap-2 w-full px-4 py-2 text-left hover:bg-slate-50 transition">
                <span class="text-blue-500">✏️</span>
                <span>Edit</span>
              </button>

              <button
                class="flex items-center gap-2 w-full px-4 py-2 text-left hover:bg-slate-50 transition">
                <span class="text-red-500">🗑️</span>
                <span>Delete</span>
              </button>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
