<div class="min-h-screen bg-slate-100 p-4">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold">Contacts</h1>

        <div class="flex items-center gap-3">
            <input type="text" placeholder="Search…"
                class="px-4 py-2 bg-white rounded-xl shadow border border-slate-200 w-64 placeholder-gray-500"/>
        
            <button class="flex items-center gap-1 px-3 py-1.5 bg-blue-600 text-white rounded-lg hover:bg-blue-700 shadow cursor-pointer text-sm"
                (click)="openAddPopup()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <span>Add Contact</span>
            </button>
        </div>    
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div *ngFor="let c of contacts"
        class="bg-white rounded-3xl shadow-xl p-6 border border-slate-200 hover:shadow-2xl transition duration-300 flex flex-col">
        
        <h2 class="text-xl font-semibold text-slate-900 mb-2">
            {{ c.title }}
        </h2>

        <p class="text-sm text-slate-800 mb-1">
            <span class="font-medium text-slate-600">Type:</span> {{ c.type }}
        </p>

        <p class="text-sm mb-1">
            <span class="font-medium text-slate-600">Status:</span>
            <span
            class="px-2 py-1 rounded-lg text-white text-xs shadow-sm ml-1"
            [ngClass]="{
                'bg-yellow-500': c.status === 'Pending',
                'bg-blue-500': c.status === 'In Progress',
                'bg-green-500': c.status === 'Done',
                'bg-red-500': c.status === 'Canceled',
                'bg-purple-500': c.status === 'Failed'
            }"
            >
            {{ c.status }}
            </span>
        </p>

        <p class="text-sm text-slate-800">
            <span class="font-medium text-slate-600">Created:</span>
            {{ c.createdAt | customDate }}
        </p>

        <div class="w-full h-px bg-slate-200 my-5"></div>

        <div class="flex gap-3">
            <button class="flex-1 bg-sky-900 text-white py-2.5 rounded-xl hover:bg-sky-700 transition font-medium shadow cursor-pointer"
            (click)="onInfContact(c.idContact)">
            View Detail
            </button>

            <button
            (click)="deleteContact(c.idContact, $event)"
            class="flex-1 py-2.5 rounded-xl bg-red-500/20 text-red-600 font-medium backdrop-blur-md border border-red-300/40
                    hover:bg-red-500/30 transition shadow-sm cursor-pointer">
            Delete
            </button>
        </div>
    </div>
  </div>
  
  <div
    *ngIf="showAddPopup"
    class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">
    <div class="bg-white w-full max-w-md p-6 rounded-2xl shadow-xl relative">
      <h2 class="text-xl font-bold mb-4">Add New Contact</h2>

      <button
        class="absolute top-3 right-5 text-3xl hover:text-red-500 text-black cursor-pointer" 
        (click)="closePopup()">
        &times;
      </button>

      <form  class="space-y-5" (ngSubmit)="submitAddContact()">
        <div>
            <label class="block text-sm font-medium text-slate-600 mb-1">
                Type
            </label>
            <select 
                name="type" 
                class="w-full px-4 py-2.5 rounded-xl border border-slate-300 bg-slate-50 
                focus:bg-white focus:border-black focus:ring-2 focus:ring-black/40 
                transition cursor-pointer"
                [(ngModel)]="contactForm.type">
                <option value="Call">Call</option>
                <option value="Email">Email</option>
                <option value="Meeting">Meeting</option>
                <option value="Message">Message</option>
            </select>
        </div>

        <div>
          <label class="block text-sm font-medium text-slate-600 mb-1">
            Title
          </label>
          <input
            type="text"
            [(ngModel)]="contactForm.title"
            name="title"
            class="w-full px-4 py-2.5 rounded-xl border border-slate-300 bg-slate-50 
                  focus:bg-white focus:border-black focus:ring-2 focus:ring-black/40 
                  transition"
            required
          />
        </div>

        <div>
          <label class="block text-sm font-medium text-slate-600 mb-1">
            Content
          </label>
          <input
            type="text"
            [(ngModel)]="contactForm.content"
            name="content"
            class="w-full px-4 py-2.5 rounded-xl border border-slate-300 bg-slate-50 
                  focus:bg-white focus:border-black focus:ring-2 focus:ring-black/40 
                  transition"
            required
          />
        </div>

        <div>
            <label class="block text-sm font-medium text-slate-600 mb-1">
                Staff
            </label>
            <select 
                name="staff" 
                class="w-full px-4 py-2.5 rounded-xl border border-slate-300 bg-slate-50 
                    focus:bg-white focus:border-black focus:ring-2 focus:ring-black/40 
                    transition cursor-pointer"
                [(ngModel)]="selectedStaff">
                <option *ngFor="let s of staffs" [value]="s.idStaff">
                    {{ s.fullname }}
                </option>
            </select>
        </div>

        <div>
            <label class="block text-sm font-medium text-slate-600 mb-1">
                Lead
            </label>
            <select 
                name="lead" 
                class="w-full px-4 py-2.5 rounded-xl border border-slate-300 bg-slate-50 
                    focus:bg-white focus:border-black focus:ring-2 focus:ring-black/40 
                    transition cursor-pointer"
                [(ngModel)]="selectedLead">
                <option *ngFor="let l of leads" [value]="l.idLead">
                    {{ l.personResponse.fullname }}
                </option>
            </select>
        </div>

        <button
          type="submit"
          class="w-full bg-black text-white py-3 rounded-xl text-base font-medium 
                hover:bg-slate-800 transition cursor-pointer relative"
          [disabled]="isLoading">

          <div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center">
            <svg class="animate-spin h-5 w-5 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
            </svg>
          </div>

          <span [class.invisible]="isLoading">
            Create Contact
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
